body {
  background-color: black;
  overflow: hidden;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

.View {
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0.5;
}

.Sign {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 2rem;
  width: 20%;
  height: 30%;
  left: 40%;
}
.TopText {
  position: absolute;
  top: 30%;
  left: 37%;
  color: rgb(196, 154, 17);
  font-size: 200%;
  font-family: "fantasy", sans-serif;
  align-items: center;
  justify-content: center;
}
.BottomText {
  position: absolute;
  top: 38%;
  left: 43%;
  color: rgb(255, 255, 255);
  font-size: 100%;
  font-family: fantasy;
  align-items: center;
  justify-content: center;
}
.Dam {
  position: absolute;
  width: 8%;
  left: 20%;
  top: 50%;
  align-items: center;
  justify-content: center;
}
.house {
  position: absolute;
  width: 8%;
  left: 45%;
  top: 50%;
  align-items: center;
  justify-content: center;
}
.Sphere {
  position: absolute;
  width: 8%;
  left: 70%;
  top: 50%;
  align-items: center;
  justify-content: center;
}
